In [1]:
import pandas as pd
import time 
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [2]:
executable_path = {'executable_path': '../chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

browser.visit(url)

In [4]:
html= browser.html
soup= bs(html,"html.parser")
# soup

In [5]:
soup_li=soup.find("li",class_="slide")

In [6]:
news_title = soup_li.find("div", class_="content_title").text
news_p =soup_li.find("div",class_="article_teaser_body").text

print (news_title)
print (news_p)

NASA's Curiosity Rover Finds an Ancient Oasis on Mars
New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.

In [7]:
# Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called
img_homep_url= 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
base_url= 'https://www.jpl.nasa.gov'
browser.visit(img_homep_url)
browser.find_by_id("full_image").click() 
time.sleep(5)
browser.click_link_by_partial_text("more info")
html= browser.html
soup= bs(html,"html.parser")
soup_url=soup.find("img", class_="main_image")["src"]
featured_image_url = base_url + soup_url

In [13]:
print (featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18048_hires.jpg

In [25]:
# URL of page to be scraped
twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitter_url)
#time.sleep(3)
html = browser.html
soup = bs(html, 'html.parser')
tweet_text = soup.find('div', class_='js-stream-tweet')
#print (tweet_text)
mars_weather = tweet_text.find("p").text
#print (soup)
print(mars_weather)

InSight sol 306 (2019-10-07) low -102.7ºC (-152.8ºF) high -25.7ºC (-14.2ºF)
winds from the SSE at 5.5 m/s (12.4 mph) gusting to 17.1 m/s (38.3 mph)
pressure at 7.20 hPapic.twitter.com/i38dAuQJKJ

In [27]:
tables = pd.read_html("https://space-facts.com/mars/")
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [28]:
df = tables[1]
df.columns = ["Discription", "Value"]
df.head()

            Discription                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [29]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Discription</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [18]:
hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemis_url)

html = browser.html
soup = bs(html, 'html.parser')

hemisphere_image_urls = []

hemis_titles = soup.find_all('h3')

for i in range(len(hemis_titles)):
    hemis_title = hemis_titles[i].text
    print(hemis_title)
    
    hemis_images = browser.find_by_tag('h3')
    hemis_images[i].click()
    
    html = browser.html
    soup = beautifulSoup(html, 'html.parser')
    
    img_url = soup.find('img', class_='wide-image')['src']
    img_url = "https://astrogeology.usgs.gov" + img_url
    print(img_url)
    
    hemis_dict = {"title": hemis_title, "img_url":img_url}
    hemisphere_image_urls.append(hemis_dict)
    
    browser.back()

In [ ]:
hemisphere_image_urls

In [ ]:
browser.quit()